/* NAVIGATION */

#navigation {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

#navigation button {
  width: 300px;
  height: 100px;
  font-size: 50px;
  margin: 10px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #2CC5FA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#navigation button:hover {background-color: #50aece}

#instructions span {
  width: 300px;
  background-color: white;
}

/* ACTIVITIES */

body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

/* CODE BOX */

#code-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: black;
  width: 55vw;
  height: 95vh;
  padding: 0px 20px;
  margin: 20px;
  font-size: 1.4vw; /* depends on vw */
  overflow: auto;
}

#code-box p {
  margin-top: 0.8vh; /* depends on vw */
  margin-bottom: 0.8vh; /* depends on vw */
}

#code-box span {
  margin: -2px;
}

#code-box .separated-right {
  margin-right: 8px;
}

#code-box .separated-left {
  margin-left: 8px;
}

#code-box .separated-both {
  margin-right: 8px;
  margin-left: 8px;
}

#code-box input {
  background-color: rgb(33, 30, 30);
  border: none;
  height: 1.6vw; /* depends on vw */
  font-size: 1.4vw; /* depends on vw */
  text-align: center;
}

#code-box input:hover, #code-box input:focus {
  background-color: rgb(77, 30, 30);
}

#code-box input::placeholder {
  font-size: 1.2vw;
  font-style: italic;
}

.comment {
  color: green
}

.white {
  color: white
}

.darkblue {
  color: rgb(55, 84, 170)
}

.blue {
  color: #3782CD
}

.lightblue {
  color: #7CADDE
}

.white {
  color: white
}

.orange {
  color: orange
}

.lightyellow {
  color: rgb(251, 253, 193)
}

.yellow {
  color: yellow
}

.purple {
  color: rgb(160, 98, 160)
}

.green {
  color: rgb(121, 186, 132)
}

.gray {
  color: rgb(111, 111, 111)
}

.ihblue {
  color: #2CC5FA;
}

.indented {
  margin-left: 20px;
}

.double-indented {
  margin-left: 40px;
}

.triple-indented {
  margin-left: 60px;
}

.emoji-input {
  width: 30px;
} 

.style-input {
  width: 100px;
}

.counter-input {
  width: 30px;
}

#confetti-input {
  width: 150px;
}

.activity-title {
  color: green;
  text-align: center;
  margin: 50px 0px;
}

.activity-title hr {
  border: 1px solid green;
  width: 100%;
}

/* OUTPUT BOX */

#output-box {
  height: 95vh;
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2CC5FA;
}

/* output-content is for canvas purposes */
#output-content {
  z-index: 1;
  position: absolute;
  bottom: 50;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-container {
  display: flex;
  align-items: center;
  margin-bottom: 10vh;
}

#logo-container {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#logo-container img{
  width: 50px;
  height: 55px;
}

#title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#post {
  width: 83%;
  font-size: 1em;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: white;
  opacity: 0.9;
}

#reactions {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.circle-btn {
  border: none;
  font-size: 2rem;
  margin: 10px;
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  background-color: white;
  color: black;
}

.circle-btn:active {
  transform: translateY(4px);
} 

.counter {
  position: relative;
  left: -20px;
  font-size: 13px;
  font-weight: 700;
  background-color: white;
  height: 18px;
  min-width: 18px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}


/* canvas for confetti package */
.canvas-container {
  position: relative;
}

#custom_canvas {
  width: 100%;
  height: 100%;
  background: transparent;
}

