/* NAVIGATION */

#navigation {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

#navigation button {
  width: 300px;
  height: 100px;
  font-size: 50px;
  margin: 10px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #2cc5fa;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#navigation button:hover {
  background-color: #50aece
}

#instructions span {
  width: 300px;
  background-color: white;
}

/* ACTIVITIES */

body {
  margin: 0;
  padding: 0;
  background-color: #31325f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

/* CODE BOX */

#code-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: black;
  width: 63vw;
  height: 100vh;
  padding: 0px 1.5vw;
  margin-right: 1vw;
  font-size: 1.4vw;
  overflow: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  #code-box {
    font-size: 1.8vw;
  }
}

#code-box p {
  margin-top: 0.8vh; /* depends on vw */
  margin-bottom: 0.8vh; /* depends on vw */
}

#code-box span {
  margin: -0.13vw;
}

#code-box .separated-right,
#code-box .separated-both {
  margin-right: 0.55vw;
}

#code-box .separated-left,
#code-box .separated-both {
  margin-left: 0.55vw;
}

#code-box input {
  background-color: #4c4b4b;
  border: none;
  height: 1.6vw; /* depends on vw */
  font-size: 1.4vw; /* depends on vw */
  text-align: center;
}

#code-box input:hover, #code-box input:focus {
  background-color: rgb(77, 30, 30);
}

#code-box input::placeholder {
  font-size: 1.2vw;
  font-style: italic;
}

.comment {
  color: #2cc5fa;
}

.white {
  color: white;
}

.darkblue {
  color: rgb(55, 84, 170);
}

.blue {
  color: #3782cd;
}

.lightblue {
  color: #7cadde;
}

.white {
  color: white;
}

.orange {
  color: orange;
}

.lightyellow {
  color: rgb(251, 253, 193);
}

.yellow {
  color: yellow;
}

.purple {
  color: rgb(160, 98, 160);
}

.green {
  color: rgb(121, 186, 132);
}

.gray {
  color: rgb(111, 111, 111);
}

.ihblue {
  color: #2cc5fa;
}

.indented {
  margin-left: 2vw;
}

.double-indented {
  margin-left: 4vw;
}

.triple-indented {
  margin-left: 6vw;
}

.emoji-input {
  width: 2vw;
}

.style-input {
  width: 7vw;
}

.variable-input {
  width: 8vw;
}

.confetti-input {
  width: 10vw;
}

.activity-title {
  color: #2cc5fa;
  margin: 3.75vw 0;
  text-align: center;
}

.activity-title hr {
  border: 1px solid;
  width: 100%;
}

/* OUTPUT BOX */

#output-box {
  height: 100vh;
  width: 36vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2dc5fa;
  box-sizing: border-box;
  font-size: 1.475vw;
}

/* output-content is for canvas purposes */
#output-content {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  letter-spacing: -0.5px;
}

#post {
  height: 46vh;
  margin-bottom: 3vw;
  max-height: 32.5vw; /* 1.25 * 26vw */
  min-height: 13vw;
  position: relative;
  width: 26vw;
}

#post .window-controls,
#post .window-controls::before,
#post .window-controls::after {
  background-color: black;
  border-radius: 1vw;
  display: block;
  height: 1vw;
  position: absolute;
  width: 1vw;
}
#post .window-controls {
  left: 1vw;
  position: absolute;
  top: 1vw;
}

#post .window-controls::before,
#post .window-controls::after {
  content: "";
  top: 0;
  left: 1.5vw;
}

#post .window-controls::after {
  left: 3vw;
}

#post h1 {
  font-size: 1.5em;
}

#post .echo-box {
  align-items: center;
  background-color: #eef9fe;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 1vw 1vw #a2e4fc,
              1vw 1vw 0 1px black;
  display: flex;
  height: 96%;
  padding: 2vw;
  width: 25vw;
}

#reactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1vw;
  width: 25vw;
}

.circle-btn {
  font-size: 2.25em;
  width: 6vw;
  height: 6vw;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  background-color: white;
  color: black;
}

.circle-btn:active {
  transform: translateY(4px);
}

/* canvas for confetti package */
.canvas-container {
  position: relative;
}

#custom_canvas {
  background: transparent;
  height: 100%;
  position: absolute;
  width: 100%;
}
